{% extends 'base.html' %}
{% load static %}


{% block content %}
<body style="background-image: url('{% static 'images/login3.webp' %}');backckground-position: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 top-div" style="margin-top:40px;">
                <h1 style="color:black;text-align:center;">Authorities</h1>
            </div>
        </div>
    </div>

    <div class="row" style="margin-left:20px;">
    {% for authority in authorities %}
    <div class="col-md-6">
        <div class="card" style="width: 50rem;width: 25rem;margin-top:10px; ">
            <div class="card-header">
                    <h3 class="text-center">{{authority.name}}</h3>
            </div>
            <div class="card-body" style="background-color: #fff;">
                <h3>Contacts</h3>
                <h6>Phone Number: {{authority.contact}}</h6>
                <h6>Address: {{authority.address}}</h6>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
    {% endfor %}
</body>
{% endblock %}